body {
   
    position: relative;
    min-height: 100vh;
    padding-bottom: 170px;
   
    
      
}

.header {
    font-family: montserrat;
    background-color: #F1B4DD;
    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
}

.header .logo img{
    height: 75px;
    width: auto;
    transition: all 0.3;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    
}

.header .nav-links li:hover{
    transform: scale(1.2);
}

.header .nav-links a{
    font-size: 700;
    color: #ffffff;
    text-decoration: none;
    
}

.header .nav-links li a:hover{
    color: black;
}

.footer {
    background-color: #F1B4DD;
    padding: 20px 0;
    height: 165px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: white;
    font-weight: 500;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    display: inline-block;

}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
    color: white;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease ;
}


.footer-links ul li a:hover {
    color: #ffffff;
    padding-left: 6px;
}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;
}

.social-link a:hover{
    background-color: black;
}

@media(max-width:991px){
    .footer-row{
        text-align: center;
    }

    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}

.container {
    font-family: sans-serif;
    text-transform: capitalize;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.footer-links ul {
    list-style: none;
}






